* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #0f172a;
  --accent: #e11d48;
  --text: #111;
  --white: #fff;
  --accent-hover: #dc2626;
  --bg: #121212;
  --card-bg: #1e1e1e;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--bg);
  color: white;
  line-height: 1.6;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 1px;
}

header {
  background: var(--primary);
  color: white;
  padding: 0px 55px;
  position: sticky;
  top: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 20px;
}

nav h2 {
  font-size: 1.8rem;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 25px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.2rem;
  position: relative;
  transition: 0.3s;
}

nav a::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -7px;
  width: 0%;
  height: 2px;
  background: var(--accent);
  transition: 0.3s;
}

nav a:hover::after {
  width: 100%;
}

nav a:hover {
  color: var(--accent);
}

nav a.active {
  color: var(--accent);
}

nav a.active::after {
  width: 100%;
}

.hero {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://images.unsplash.com/photo-1558611848-73f7eb4001a1");
  background-size: cover;
  background-position: center;
  color: white;
}

.hero h1 {
  font-size: 4rem;
  margin-bottom: 5px;
}

.hero p {
  font-size: 1.3rem;
}

.btn {
  margin-top: 25px;
  padding: 14px 30px;
  background: var(--accent);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  background: var(--accent-hover);
  transform: translateY(-3px);
}

section {
  padding: 70px 10%;
}

.section-title {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2.3rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.grid ul {
  list-style: none;
}

.card {
  background: var(--card-bg);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px);
}

table {
  width: 100%;
  border-collapse: collapse;
  background: var(--card-bg);
  margin-top: 20px;
}

th,
td {
  padding: 12px;
  border: 1px solid white;
  text-align: center;
}

th {
  background: var(--primary);
}

form {
  background: var(--card-bg);
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  margin: auto;
}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid white;
  background: var(--card-bg);
  border-radius: 10px;
  color: white;
  transition: 0.3s;
}
input:focus,
select:focus,
textarea:focus {
  outline: none;
  border-color: var(--accent);
  box-shadow: 0 0 0 2px rgba(239, 68, 68, 0.2);
}

button {
  padding: 10px 20px;
  background: var(--accent);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.3s;
}
button:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  background: var(--accent-hover);
  transform: translateY(-3px);
}

.trainer img {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  object-fit: cover;
  margin-bottom: 10px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 250px;
  background: var(--primary);
  color: white;
  text-align: center;
  padding: 30px;
  margin-top: 60px;
}
footer ul {
  list-style: none;
}